@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
:root {
    --blue: #498afe;
    --dark-blue: #071f49;
    --sky-blue: #97a0b8;
    --white: #fbfcff;
    --red: #ff5b5b;
    --gray: #8e8e8e;
    --green: #a4ea98;
    --yellow: #eff269;
    --light-gray: #eff2f8;
    --logo-dark-blue: #0f2c59;
    --logo-light-blue: #29abe2;
    --bg-color: var(--white);
    --fg-color: var(--dark-blue);
    --border-color: #e3e9f6;
    --font-immense: 38px;
    --font-big: 21px;
    --font-normal: 16px;
    --font-small: 12px;
    --font-regular: 400;
    --font-medium: 500;
    --rounding: 0.75em;
    --anim-time: 0.25s;
    --shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    --table-row-active-background-color: hsl(207, 61%,  53%);
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    z-index: 1;
}

#bodiv {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.76);
}

.main-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100vw;
}

.secondary-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 3%;
    max-width: 70%;
}

.details {
    display: inline-block;
    position: absolute;
    top: 150px;
    background-color: var(--light-gray);
    padding: 50px;
    margin: 10px;
    width: 700px;
    left: 550px;
    border-radius: var(--rounding);
    border-color: var(--border-color);
    border-style: solid;
    z-index: 2
}

a, a:visited, a:active {
    color: var(--blue);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input[type="number"] {
    min-width: 4em;
}


tr:hover {
    cursor: pointer;
    color: --blue;
}

.form-fields {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    width: 100%;
}

.form-input.small {
    width: calc(50% - 1em);
}

.form-input.mini {
    width: calc(33% - 1em);
}

.form-error {
    font-size: small;
    color: var(--red);
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.hide {
    display: none;
}

.fa-filter {
    font-size: 0.9em;
}

.fa-info-circle {
    color: var(--blue);
    font-weight: 900
}

.filters {
    padding: 1em;
    margin-top: -1em;
    margin-bottom: 1em;
    background-color: white;
    /* display: flex; */
    flex-flow: wrap row;
    align-items: flex-end;
    /* visibility: hidden; */
    /* position: absolute; */
    /* top: -100px; */
    /* transition: var(--anim-time) ease; */
    /* z-index: -1; */
    display: none;
}

.filters.active {
    /* visibility: visible; */
    /* position: relative; */
    /* top: 0; */
    display: flex;
}

.filter-input {
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show-requireds .form-input.required label::after {
    content: " *";
    color: var(--red);
}

.required-notice {
    display: none;
    color: var(--red);
}

.show-requireds .required-notice {
    display: block;
}

#current-user {
    font-size: var(--font-small);
    background-color: var(--light-gray);
    display: inline-block;
    padding: 0.5em 1.5em;
    border-radius: var(--rounding);
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 0 auto;
    text-decoration: none;
    color: inherit;
}

#current-user>* {
    margin: 0 0.5em;
}

#current-user .caret {
    color: var(--gray);
}

#current-user .avatar {
    width: 2em;
    height: 2em;
    object-fit: contain;
}

.tabs-section {
    border-bottom: 1px solid var(--sky-blue);
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1em;
}

.tab-title, .side-actions {
    padding-bottom: 0.5em;
}

.tab-title, .tab-title:visited {
    display: inline-block;
    margin: 0 0.5em;
    color: var(--sky-blue);
    text-decoration: none;
}

.tab-title.active {
    color: var(--dark-blue);
    border-bottom: 2px solid var(--blue);
}

#flash-messages {
    width: 100%;
}

#flash-messages li {
    background-color: var(--dark-blue);
    color: white;
    padding: 0.5em 1em;
    border-radius: var(--rounding);
}

form {
    max-width: 700px;
    margin: auto;
    padding: 2em;
    background-color: white;
    box-shadow: var(--shadow);
}

#donor-info {
    background-color: var(--blue);
    color: white;
    border-radius: var(--rounding);
    padding: 1em;
    display: inline-block;
}

#donor-image {
    margin-right: 1em;
}

#donor-text p {
    margin-top: 0;
}

.loading-icon {
    text-align: center;
    font-size: 64px;
}

img {
    max-width: 100%;
}

#navbar header {
    background-color: var(--logo-dark-blue);
    border-radius: 30px;
    color: white;
    padding: 0 0.5em;
    text-align: center;
    align-content: center;
    width: 80%;
    margin: 20px auto auto;
}

#navbar header a {
    color: inherit;
    text-decoration: none;
}

#navbar {
    display: flex;
    flex-direction: column;
    width: 300px;
}

#navbar header img {
    max-height: 180px;
    max-width: 200px;
}

#navlinks {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 20px;
    margin-top: 50%;
    font-size: var(--font-big);
}

#navbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-gray);
    border-radius: var(--rounding);
    padding: 1em;
    /* width: min-content; */
    flex: 0 0 auto;
}

#navbox>* {
    border-radius: var(--rounding);
    padding: 0.5em;
    color: var(--sky-blue);
    width: 100%;
    height: 50px;
}

#navbox>a {
    display: flex;
    flex-direction: row;
    text-align: center;
}

#navbox>a>i {
    font-size: 1.5em;
    margin-right: 20px;
}

#navbox>a>* {
    margin-top: 5%;
}

#navbox>.active {
    background-color: var(--blue);
    color: white;
}

#context-menu {
    max-height: 80px;
    width: 100%;
}

#menu-subcontainer {
    margin-top: 25px;
    margin-left: -400px;
}

#menu-subcontainer>* {
    margin: 20px;
}

#flash-messages {
    width: 100%;
}

#flash-messages li {
    color: white;
    padding: 0.5em 1em;
    border-radius: var(--rounding);
}

textarea:focus, input:focus {
    outline: none;
}

.sidebar-link:hover {
    text-decoration: none;
    background: lightskyblue;
}

.back-button {
    float: right;
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 10px;
    color: white;
}

.back-button:focus, .back-button:hover {
    box-shadow: #bd2f3c;
    text-decoration: none;
}

.form-editor {
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 75%;
    margin-bottom: 20px;
    margin-left: -10px;
}

.horizontal-form-group {
    display: flex;
    flex-direction: row;
}

.margin-top-s {
    margin-top: 8%;
}

td>i {
    font-size: x-large;
}

.align-left {
    text-align: start;
}

.half-table {
    max-width: 50%;
}

.large-container {
    background-color: #29abe2;
    max-height: 100%;
}

.search-block {
    display: flex;
    margin: 5px;
}

.search {
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-right: 5px;
    background-color: white;
    transition: var(--anim-time) linear;
    text-decoration: none;
    color: inherit;
}

.search-filter {
    display: inline-block;
    width: 200px;
    margin: 0;
    padding: 2px;
}

.search-bar {
    display: inline-block;
    width: 200px;
    padding: 0;
    margin: 0;
    margin-left: 5px;
    padding: 5px;
}

.box-area {
    display: flex;
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.in-box-area {
    height: 100px;
    width: 200px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    padding: 0px;
}

.in-box-area:hover {
    height: 100px;
    width: 200px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 1px black;
    padding: 0px;
}

.in-box {
    position: relative;
    width: 200px;
    text-align: center;
    margin: 0px;
}

.center-checkbox {
    transform: translate(500%, 0px);
}

.centered-container {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -70%);
    transform: translate(-50%, -70%);
}
.logo {
    background-color: var(--logo-dark-blue);
    border-radius: 30px;
    color: white;
    text-align: center;
    align-content: center;
    width: 100%;
    height: 100%;
    margin-left: 20px;
}

.base-navbar {
margin-top: -40px;
    height: 100px;
    width: 130%;
}

.logo-placeholder {
    width: 300px;
    height: 100%;
    margin-left: 30px;
}

.logo-img-align {
    margin-left: 20%
}

.about-container {
    width: 130%;
    margin-left: 80px;
}

.large-footer {
    width: 150%;
}

.align-middle {
    vertical-align: middle;
}

.resized-container {
width: 140%
}

.presentation-message {
    position: absolute;
    top: 25vh;
    width: 20vw;
    margin-left: 50px;
}

.infobulle-container {
    background-color: var(--logo-light-blue);

    min-width: 300px;
    min-height: 60px;
    border-radius: 25px;
    position: absolute;
    top: 83%;
    right: 5%;
}